*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --base-color: white;
    --text-color: black;
    --primary-color-background: #d8d8d8;
    --modal_form: #b9ecff;
    --footer_color: #c5c4be;
    --button_color: #00a1af;
    --hero_text_color: #df8a1c;
    --border_color: #000000 solid 2px;
    --border_color-logo: #000000 solid 0px;
    --border_inside_color: #000000 solid 1px;
    --border_inside_color_red: #ff0000 solid 1px;
    --box-shadow:  0px -2px 6px black ,0px 2px 6px black;
    --fill-color-svg: black;
    --modal-shadow: 2px 2px 1px #99afd6, -2px -2px 1px #99afd6;
    --background_color: #99afd6; 
    --input_border: 1px #f1f1f1 solid;
    --border-carousel: inset 0px 1px 5px #3a3a3a, inset 0px 1px 1px #3a3a3a;
    --border-container:  0px -1px 3px #3a3a3a ;
    --input-background: #f7f7f7;
    --facebook-svg-fill: #1a77f1;
    --facebook-svg-shadow:  0px 0px 0px #000000 ;
    /* linear-gradient to right is the direction of color that start to right then slowly fade out its color to the left */
    --background_fade_left: linear-gradient(to right, rgba(255,255,255, 1), transparent);
    /* opposite to the comment line 24*/
    --background_fade_right: linear-gradient(to left, rgba(255,255,255, 1), transparent);
}

.darkmode{
    --base-color: rgb(26, 26, 26);
    --text-color: white;
    --primary-color-background: #202020;
    --modal_form: transparent;
    --footer_color: #303030;
    --button_color: #00a1af;
    --hero_text_color: white;
    --border_color: #dadada solid 2px;
    --border_color-logo: #dadada solid 2px;
    --border_inside_color: #dadada solid 1px;
    --box-shadow: 0px -2px 4px #dadada , 0px 2px 6px #dadada;
    --fill-color-svg: white;
    --modal-shadow: 1px 1px 5px rgb(255, 255, 255), -1px -1px 5px rgb(255, 255, 255);
    --background_color: #8fb1ee; 
    --input-border: 2px #5a5a5a solid;
    --border-carousel:   inset -2px 0px 5px #c2c2c2, inset 2px 0px 5px #c2c2c2;
    --border-container:  0px -1px 5px #c2c2c2;
    --input-background: #171717;
    --gmail-path: white;
    --facebook-svg-fill: #0d1927;
    --facebook-svg-shadow:  0px 1px 3px #000000 ;
    --background_fade_left: linear-gradient(to right, rgb(0, 0, 0, 1), transparent);
    --background_fade_right: linear-gradient(to left, rgb(0, 0, 0, 1), transparent);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth ;
}

body{
    overflow-y: visible;
    background-color: var(--base-color);
    min-height: 100vh;
}

.header_container{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    left: 0px;
    top:0px;
    z-index: 2;
}

.header_container::before{
    content: "";
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
}

.logo_container{
    display: flex;
    align-items: center;
    z-index: 0;
    cursor:none;
    pointer-events: none;
}

#logo_1{
    width: 150px;
    height: 150px;
    margin: 4px 0px 0px 0px;
}

#logo_title{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    left: 112px;
    position: absolute;
    cursor:none;
    pointer-events: none;
    background: linear-gradient(to right, rgb(255, 147, 147), rgb(147, 255, 147), rgb(255, 199, 147) );
    filter: drop-shadow(1px 0px 0px black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    animation: textcolor 5s linear infinite;  
}

.menu_icon {
    visibility: hidden;
    position: absolute;
    right: 70px;
    top: 22px;
    justify-content: center;
    align-items: center;
}

.menu_icon:hover{
    transform: scale(1.10); 
    transform: translateY(-5%);
}

.nav_container{
    display: flex;
    margin: 0px;
    position: relative;
    top:0px;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
}

.main_nav-link{
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap: 30px;
    transform: translateX(-12%);
}

.login{
    border: none;
    background: none;
    cursor: pointer;
}

.sign_up{
    border: none;
    background: none;
    cursor: pointer;
}

.main_nav-link a, .login, .sign_up{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.nav_container a:hover, .login:hover, .sign_up:hover{
    text-decoration: underline;
    transform: scale(1.10); 
    transform: translateY(-10%);
}

.background_theme {
    display: flex;
    height: 20px;
    background: none;
    box-decoration-break: none;
    border: none;
    cursor: pointer;
    top:22px;
    position: relative;
    right: 24px;
}

.theme_white{
    width: 30px;
    height: 30px;
    border-radius: 12px;
    display: none;
    fill: var(--fill-color-svg);
}

.theme_black{
    width: 28px;
    height: 28px;
    border-radius: 12px;
    display: block;
    fill: var(--fill-color-svg);
}

.background_theme:hover{
    transform: scale(1.10); 
    transform: translateY(-5%);
}

.darkmode .background_theme .theme_black{
    display: none;
}

.darkmode .background_theme .theme_white{
    display: block;
}

.modal_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 2;
    background: var(--base-color);
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    animation: fadeScaleIn 0.3s ease;
    align-items: center;
    justify-content: center;
    display: none;
}

.close{
    position: absolute;
    right: 20px;
    top:20px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.modal_content{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--base-color);
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: var(--modal-shadow);  
}

#modal_1 form{
    background-color: var(--modal_form);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:24px;
    background-color: var(--modal_form);
}

form .h1_signup{
    position: relative;
    font-weight: 800;
    color: var(--text-color);
    font-size: 28px;
    white-space: nowrap;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: none;
    pointer-events: none;
}

form .group_fullname{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--border_inside_color);
}

.group_fullname .user_fullname{
    position: absolute;
    transform: translate(10px, 8px);
    fill: var(--fill-color-svg);
}

form .group_email{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--border_inside_color);
}

.user_gmail{
    position: absolute;
    transform: translate(10px, 8px);
    fill: var(--fill-color-svg);
}

form .group_password_signup{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--border_inside_color);
}

.full-name, .pass-word_signup, .e-mail{
    position:absolute;
    transform: translate(40px, 8px);
    opacity: 0.5;
    transition: all 200ms ease;
    color: var(--text-color);
}

.group_fullname.active .full-name,
.group_email.active .e-mail,
.group_password_signup.active .pass-word_signup{
    opacity: 1;
    transform: translate(10px, -23px);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.gmail-message, .gmail-messageleast{
    display: none;
}

.input_fullname{
    height: 38px;
    outline: none;
    border-radius: 6px;
    padding: 0px 10px 0px 42px;
    background-color: var(--input-background);
    color: var(--text-color);
    border: var(--input-border);
}

.input_email{
    height: 38px;
    outline: none;
    border-radius: 6px;
    padding: 0px 20px 0px 42px;
    background-color: var(--input-background);
    color: var(--text-color);
    border: var(--input-border);
}

.input_password_signup{
    height: 38px;
    padding: 0px 40px 0px 42px;
    outline: none;
    border-radius: 6px;
    background-color: var(--input-background);
    color: var(--text-color);
    border: var(--input-border);
}

.pass_logo_signup{
    position: absolute;
    transform: translate(10px ,6px);
    fill: var(--fill-color-svg);
}

.pass_visible_signup, .pass_hidden_signup{
    position: absolute;
    right: 0px;
    transform: translate(-30px, 7px);
    fill: var(--fill-color-svg);
}

.pass_hidden_signup, .pass-signup-messageleast, .pass-signup-lowercase, .pass-signup-uppercase, .pass-signup-numbers, .pass-signup-symbols{
    display: none;
}

  .submit {
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: var(--button_color);
    font-size: 14px;
    border-radius: 12px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
  }

  .submit:hover{
    transform: scale(1.05);
  }

.span_group_pass{
    position: absolute;
    width: 90%;
    height: auto;
    background-color: var(--background_color);
    transform: translate(-1px,39px);
    display: flex;
    flex-direction: column;
}

.span_gologin, .gologin{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.span_gologin{
    cursor: none;
    pointer-events: none;
}

.gologin{
    text-decoration: none;
    cursor: pointer;
    pointer-events: auto;
}

.gologin:hover{
    color: #1a77f1;
    text-decoration: underline;
}

#modal_2 form{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:20px;
    background-color: var(--modal_form);
}

form .h1_login{
    position: relative;
    font-weight: 800;
    color: var(--text-color);
    font-size: 28px;
    white-space: nowrap;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: none;
    pointer-events: none;
}

form .group_username{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

form .user-name {
    position: relative;
    font-weight: 600;
    color: var(--text-color);
    font-size: 18px;
    white-space: nowrap;
    left: 10px;
  }

form .input-student-id {
  position: relative;
  width: 100%;
  font-weight: 500;
  color: var(--text-color);
  font-size: 14px;
  height: 38px;
  padding: 0px 10px 0px 40px;
  border: var(--input-border);
  background: var(--input-background);
  outline: none;
}

.group_username .user_logo{
    position: absolute;
    transform: translate(10px, 36px);
    fill: var(--fill-color-svg);
}

form .group_password_login{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

form .pass-word_login {
    position: relative;
    font-weight: 600;
    color: var(--text-color);
    font-size: 18px;
    white-space: nowrap;
    left: 10px;
  }

form .input-password_login {
  position: relative;
  width: 100%;
  font-weight: 500;
  color: var(--text-color);
  font-size: 14px;
  display: flex;
  height: 38px;
  align-items: center;
  gap: 18px;
  padding: 0px 40px 0px 38px;
  border: var(--input-border);
  background: var(--input-background);
  outline: none;
}

.pass_logo_login{
    position: absolute;
    transform: translate(10px ,37px);
    fill: var(--fill-color-svg);
}

.pass_visible_login, .pass_hidden_login{
    position: absolute;
    right: 0px;
    transform: translate(-30px, 37px);
    fill: var(--fill-color-svg);
}

.pass_hidden_login{
    display: none;
}

  .continue {
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: var(--button_color);
    font-size: 14px;
    border-radius: 12px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
  }

  .continue:hover{
    transform: scale(1.05);
  }

  .forgotpass {
    position: relative;
    left: 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
  }

  .forgotpass:hover{
    text-decoration: underline;
    color: #1a77f1;
  }

   .fb-logo {
    position: absolute;
    width: 34px;
    height: 34px;
    bottom: 20px;
    transform: translateX(140px);
    border-radius: 8px;
    fill: var(--facebook-svg-fill);
    box-shadow: var(--facebook-svg-shadow);
  }

  .span_gosignup, .gosignup{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.span_gosignup{
    cursor: none;
    pointer-events: none;
}

.gosignup{
    text-decoration: none;
    cursor: pointer;
    pointer-events: auto;
}

.gosignup:hover{
    color: #1a77f1;
    text-decoration: underline;
}

.main_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    max-width: 1600px;
    margin: 0px auto;
    height: auto;
    overflow: hidden;
}

.hero_banner{
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  height: 500px;
  overflow: hidden;
}

.content{
    position: static;
    width: 100%;
    height: auto;
    object-fit: fill;
    border: #202020 solid 1px;
}

.text_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 86%;
    top:70px;
}

.text_container h1 {
  opacity: 0;
  transition: opacity 1s ease;
  visibility: hidden;
}

.text_container h1.visible {
  opacity: 1;
  visibility: visible;
}


.container_text_1, .container_text_2, .container_text_3{
    position: relative;
    cursor:none;
    pointer-events: none;
}

.content_text_1, .content_text_2, .content_text_3{
    filter: drop-shadow(1.5px 0px 0px black);
    color: var(--hero_text_color);
    animation: dropup 4s ease forwards;
}

.container_text_1{
    top: 80px;
    left: 120px;
    width: 29.3%;
    height: auto;
    overflow: hidden;
}

.content_text_1{
    text-align:center;
    font-size: clamp(.4em,3.0em, 5em);;
    font-weight: 700;
    box-shadow:black 2px;
    display: inline-block;
    white-space: wrap;
    overflow: hidden;
}

.container_text_2{
    width: 30%;
    top: 100px;
    left: 140px;
    height: auto;
    overflow: hidden;
}

.container_text_3{
    width: 28%;
    top: 100px;
    left: 140px;
    height: auto;
    overflow: hidden;
}

.content_text_2{
    text-align:start;
    font-size: clamp(.4em,1.0em, 5em);
    font-weight: 700;
    white-space: wrap;
    display: inline-block;
    overflow: hidden;
}

.content_text_3{
    text-align:start;
    font-size: clamp(.4em,1.0em, 5em);
    font-weight: 700;
    white-space: wrap;
    display: inline-block;
    overflow: hidden;
}

.card_container{
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 20px;
    overflow: hidden;
}

.wrap_card{
    border: var(--border_color);
    background-color: var(--primary-color-background);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    height: 240px;
}

.card_text_1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    position: relative;
    gap:8px;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
}

.card_1{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.card_1 span{
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_logo_1{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.carousel_1{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: var(--border-carousel);
}

.transparent_left{
    position: absolute;
    width: 26px;
    left:0px;
    height: 100%;
    z-index: 1;
    background: var(--background_fade_left);
}

.transparent_right{
    position: absolute;
    width: 26px;
    right:0px;
    height: 100%;
    z-index: 1;
    background: var(--background_fade_right);
}

.group_carousel_1{
    display: flex;
    flex-direction: row;
    animation: carousel 10s linear infinite;
    gap: 50px;
    padding-right: 50px;
}

.card_group::-webkit-scrollbar{
    display: none;
}

.card_1 img{
    width: 60px;
    height: 60px;
}

.card_title_1{
    font-size: 20px;
    font-weight: 800;
    display: block;
    white-space: wrap;
    text-align: center;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_p_1{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: justify;
    cursor:none;
    pointer-events: none;
}

.card_logo_2{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

 .card_logo_man{
    position: absolute;
    width: 100%;
    height: 40%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
}

.logo_man{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(20px);
}

.span_group_1{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding-block: 10px;
    white-space: nowrap;
}

.span_group_1 span{
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    width: 0px;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_logo_woman{
    position: absolute;
    width: 100%;
    height: 40%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
}

.logo_woman{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(20px);
}

.span_group_2{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding-block: 10px;
    white-space: nowrap; 
}

.span_group_2 span{
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    width: 0px;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_title_2{
    font-size: 20px;
    font-weight: 800;
    display: block;
    white-space: wrap;
    text-align: center;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_text_2{
    width: 100%;
    gap: 6px;
    padding-inline: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  var(--border-container);
}

.card_p_2{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    cursor:none;
    pointer-events: none;
}

.woman_1{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: var(--border_color-logo);
    background-color: var(--background_color);
}

.man_1{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: var(--border_color-logo);
    background-color: var(--background_color);
}

.woman_2{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: var(--border_color-logo);
    background-color: var(--background_color);
}

.man_2{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: var(--border_color-logo);
    background-color: var(--background_color);
}


.card_logo_3{
    width: 100%;
    height: 40%;
    border: var(--border_inside_color_red);
}

.card_text_3{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:6px;
    padding-inline: 10px;
    box-shadow:  var(--border-container);
}

.card_title_3{
    font-size: 20px;
    font-weight: 800;
    white-space: wrap;
    text-align: center;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.card_p_3{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    cursor:none;
    pointer-events: none;
}

.info{
    display: grid;
    width: 100%;
    height: 250px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 20px;
    padding-bottom: 20px;
}

.end_footer{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 8px;
    background-color:var(--footer_color);
    position: relative;
    bottom: 0px;
}

.copyright{
    font-weight: 500;
    color: var(--text-color);
    cursor:none;
    pointer-events: none;
}

.contact_container{
    border: var(--border_color);
    width: 100%;
    height: 230px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    background: var(--primary-color-background);
}

.contact_logo{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.contact_logo h1{
    position: relative;
    top:36px;
    transform: translateX(-50px);
    font-size: 26px;
    font-weight: 700;
    cursor:none;
    pointer-events: none;
}

.contact_info{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-block: 6px;
}

.gmail_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    position: relative;
    left: 80px;
}

.gmail_container span{
    font-size: 15px;
    font-weight: 600;
}

.gmail_container span:hover{
    text-decoration: underline;
    color: #1a77f1;
    cursor: pointer;;
}

.facebook_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    position: relative;
    left: 80px;
}

.facebook_container span{
    font-size: 15px;
    font-weight: 600;
}

.facebook_container span:hover{
    text-decoration: underline;
    color: #1a77f1;
    cursor: pointer;;
}

#logo_2{
    width: 200px;
    height: 200px;
    position: relative;
    transform: translateY(-40px);
}

.gmail{
    width: 34px;
    height: 34px;
    fill: var(--gmail-svg-fill);
}

.facebook{
    fill: var(--facebook-svg-fill);
    width: 34px;
    height: 34px;
    border-radius: 8px;
}

.about_container{
    border: var(--border_color);
    width: 100%;
    height: 230px;
    border-radius: 12px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    background-color: var(--primary-color-background);
    overflow: hidden;
}

.about{
    display: flex;
    flex-direction: column;
    height: 230px;
    gap: 14px;
    cursor:none;
    pointer-events: none;
}

.about h1{
    position: relative;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
}

.about p{
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

.card_button_1, .card_button_2, .card_button_3{
    background-color: var(--button_color);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    padding-block: 4px;
    border-radius: 12px;
    width: 70px;
    cursor: pointer;
    border: none;
}

.card_button_1:active, .card_button_2:active, .card_button_3:active{
    transform: scale(0.95);
}
.card_button_1:hover, .card_button_2:hover, .card_button_3:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

@keyframes label_animate {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-20px);
    }
}

@keyframes dropup {
  from {
    transform: translateY(120%);
}
	to{
   transform: translateY(0%);
    }
}

@keyframes scalefadeout {
    0%{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    100%{
        transform: scale(0.8);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scalefadein {
    0%{
        transform: scale(0.8);
        opacity: 0;
        visibility: hidden;
    }

    100%{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes autotype {
    from{
        width: 0px;
    }
    to{
        width: 90%;
    }
}

@keyframes carousel {
  0% {
    transform: translateX(0%);
}
  100%{
   transform: translateX(-100%);
    }
}


@keyframes textcolor {
    from {
        background-position: 0;
    }
    to {
        background-position: 200%;
    }
}

@keyframes fadeScaleIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@media only screen and (min-width: 1441px){
    .container_text_1{
        width: 25%;
    }

    .card_text_1{
        gap:10px;
    }

    .card_text_2{
        gap: 10px;
    }

    .card_text_1 *, .card_text_2 *, .card_text_3 *{
        transform: translateY(0px);
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1116px){
    .container_text_1{
        width: 32%;
    }
}  


@media only screen and (min-width: 601px) and (max-width: 1024px){  
    .logo_container{
        transform: translateX(-20%);
    }
    .main_nav-link{
        gap:25px;
    }
    .main_nav-link a, .login, .sign_up{
        font-size: 14px;
        font-weight: 500;
    }
    .content_text_1{
        font-size: 2.5em;
        font-weight: 500;
    }
    .content_text_2, .content_text_3{
        font-size: 1.0em;
        font-weight: 500;
    }
    .container_text_1{
        top:80px;
        left:80px;
    }
    .container_text_2{
        top:90px;
        width: 37%;
        left:90px;
    }
    .container_text_3{
        top:90px;
        width: 40%;
        left:90px;
    }

    .card_container{
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
    .info{
        gap:20px;
    }
    .wrap_card:last-child{
        grid-column: 1/-1;
        height: 240px;
    }
}

@media only screen and (max-width: 600px){

    #logo_1{
        margin: 4px 0px 0px 0px;
    }

    .logo_container{
        transform: translateX(-20%);
    }

    .nav_container{
        position: absolute;
        right: 0px;
        top: 100%;
        padding: 0px;
        height: 0rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: height .3s ease-in-out;
        background: rgba(62, 148, 105, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  }

      .main_nav-link{
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translateX(0%);  
    }
    
    .nav_container.active .main_nav-link a, .nav_container.active .login, .nav_container.active .sign_up{
        transform: translateY(0px);
        transition: transform .3s ease;
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }

        .main_nav-link a, .login, .sign_up{
        font-size: 12px;
        font-weight: 600;
        opacity: 0;
        transform: translateY(-50px);
        transition: transform .3s ease;
  }
        .nav_menu{
        position: absolute;
        width: 26px;
        height: 26px;
        opacity: 1;
        fill: var(--fill-color-svg);
        transform: rotate(0deg);
    }

    .close_nav{
        width: 26px;
        height: 26px;
        opacity:0;
        transform: rotate(-90deg);
        fill: var(--fill-color-svg);
    }

  .main_container{
    margin: 0px;
  }

  .hero_banner{
    height: 380px;
  }

  .card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
  }

    .wrap_card{
        grid-column: 1/-1;
        height: 240px;
    }

    .menu_icon {
        transition: transform 0.4s ease, opacity 0.3s ease;
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        overflow: hidden;
        background: none;
        box-decoration-break: none;
        border: none;
        top:24px;
    }

    .content_text_1{
        font-size: 1.6em;
        font-weight: 500;
    }
    .content_text_2, .content_text_3{
        font-size: 0.7em;
        font-weight: 500;
    }
    .container_text_1{
        top:60px;
        left:50px;
        width: 36%;
    }
    .container_text_2{
        top:70px;
        width:48%;
        left:55px;
    }
    .container_text_3{
        top:70px;
        width: 56%;
        left:55px;
    }
    
  .nav_container.active{
    height: 12.8rem;
    transition: height .3s ease-in-out;
    background: rgb(62, 148, 105, .1);
    backdrop-filter: blur(50px);
  }

  .menu_icon.active .nav_menu {
    opacity: 0;
    transform: rotate(90deg);
}

.menu_icon.active .close_nav {
    opacity: 1;
    transform: rotate(0deg);
    }

    .menu_icon svg {
  transition: transform 0.4s ease, opacity 0.3s ease;
    }

  .main_nav-link li{
  display: flex;
  justify-content: center;
  align-items: center;
}

    .info{
    grid-template-columns: repeat(1, 1fr);
    height: 500px;
    }
} 

@media only screen and (max-width: 320px){

    #logo_title{
        font-size: 12px;
        transform: translateX(-50%); 
    }

    #logo_1{
        transform: scale(70%);
    }

    .logo_container{
        transform: translateX(-26%); 
    }

    .nav_menu, .close_nav, .background_theme{
        width: 20px; 
        height: 20px;
    }

    .background_theme{
        top:14px;
    }

    .main_nav-link a, .login, .sign_up{
        font-size: 10px;
        font-weight: 500;
    }

    .menu_icon{
        right:60px;
        top: 15px;
    }

    .theme_black, .theme_white{
        border-radius: 5px;
        height: 22px;
    }

    .content_text_1{
        font-size: 1.5em;
    }

    .text_container{
        top: 50px;
    }

    .hero_banner{
        height: 300px;
    }

    .container_text_1{
        top: 40px;
        left:30px;
        width: 64%;
    }

    .content_text_2, .content_text_3{
        font-size: .5rem;
    }


    .container_text_2{
        top: 40px;
        width: 50%;
        left: 45px;
    }

    .container_text_3{
        top: 40px;
        width: 56%;
        left:45px;
    }

    .header_container{
        height: 50px;
    }
}

@media only screen and (max-width: 190px){

    #logo_title{
        font-size:.5em;
        left:70px
    }

    #logo_1{
        width: 90px;
        height: 90px;
    }

    .header_container{
        height: 36px;
    }

    .background_theme{
        top: 12px;
        right:8px;
        position: absolute;
    }
    .theme_black{
        width: 14px;
        height: 14px;
    }

    .theme_white{
        width: 14px;
        height: 14px;
    }

    .menu_icon{
        right:36px;
        top: 13px;
    }

    .nav_menu{
        width: 14px;
        height: 14px;
    }

    .close_nav{
        width: 14px;
        height: 14px;
    }

    .text_container{
        top:36px;
    }

    .hero_banner{
        height: 240px;
    }

    .nav_container.active{
        height: 8em;
    }

    .main_nav-link{
        gap:15px;
    }

    .main_nav-link a, .login, .sign_up{
        font-size: 7px;
    }

        .container_text_1{
        top: 40px;
        left:20px;
        width: 70%;
    }

    .content_text_2, .content_text_3{
        font-size: 5vw;
        font-weight: 500;
    }

    .content_text_1{
        font-size: 10vw;
    }


    .container_text_2{
        top: 40px;
        width: 70%;
        left: 20px;
    }

    .container_text_3{
        top: 40px;
        width: 70%;
        left:20px;
    }
}

